/* #about{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 73, 210);
    padding:10px;
    border-radius: 20px;
    
}
#back{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
#maincontent{
    width: max-content;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.h{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
} */
.bike{
   width: max-content;
   height:200px;
}
   
.hes{
    
white-space: pre-wrap; /* Ensures text wraps onto the next line */
word-wrap: break-word; /* Breaks long words */
overflow-wrap: break-word; /* Breaks long words */
max-width: 300px;
}
.h{
   display: inline;
}
#maincontent{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:250px;
    height: max-content;
}
#about{
    max-width: 300px;
    box-sizing: content-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(-45deg,rgb(138, 191, 162),rgb(85, 203, 85));
}
#ul{
    list-style-type: none;
}