@media screen and (orientation:landscape){
/* #card{

    width:300px;
    padding:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to left,rgb(237, 104, 215),rgb(243, 162, 220),rgb(245, 173, 224));
    border-radius: 10px;
    box-shadow: 5px 7px 5px black;
    border: 2px solid black;

} */
#card:hover{
    transition: 0.5s ease-out;
    transform: scale(1.05);
}
}
@media screen and (min-width:800px){
    #card{
        width:200px;
        height: 450px;
        padding:3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background:linear-gradient(to left,rgb(237, 104, 215),rgb(243, 162, 220),rgb(245, 173, 224));
        border-radius: 10px;
        box-shadow: 5px 7px 5px black;
        border: 2px solid black;
    
    }
    #card:hover{
        transition: 0.5s ease-out;
        transform: scale(1.05);
    }
    }
    @media screen and (max-width:800px){
        #card{
            width:200px;
            height:450px;
            padding:3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background:linear-gradient(to left,rgb(237, 104, 215),rgb(243, 162, 220),rgb(245, 173, 224));
            border-radius: 10px;
            box-shadow: 5px 7px 5px black;
            border: 2px solid black;
        
        }
        #card:hover{
            transition: 0.5s ease-out;
            transform: scale(1.05);
        }
        }
        @media screen and (max-width:500px){
            #card{
                width:150px;
                height:450px;
                padding:2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background:linear-gradient(to left,rgb(237, 104, 215),rgb(243, 162, 220),rgb(245, 173, 224));
                border-radius: 10px;
                box-shadow: 5px 7px 5px black;
                border: 2px solid black;
            
            }
            #card:hover{
                transition: 0.5s ease-out;
                transform: scale(1.05);
            }
            }
p,h1{
    margin: 0;
    padding: 0;
}
h1{
    font-size: min(1rem,2vw);
    margin: 7px;
}
.model{
    background-color: transparent;
    width: max-content;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
}
.bike{
    border-radius: 10px;
    /* object-fit: cover; */
}
#price{
    font-size: 1.2rem;
    font-weight:bolder;
}
#check1,#check2,#check3{
    display: none;
}
#orange,#red,#silver{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
}
#orange{
    border: 2px solid rgb(243, 195, 104);
    border-radius: 50%;
}
#red{
    border: 2px solid rgb(234, 109, 109);
    border-radius: 50%;
}
#silver{
    border: 2px solid silver;
    border-radius: 50%;
}
#check1:checked ~ #red {
    background-color: red;
}
#check2:checked ~ #silver {
    background-color: silver;
}
#check3:checked ~ #orange {
    background-color: orange;
}
#h2{
    margin: 0;
    padding: 0;
}